# Enable URL rewriting
RewriteEngine On

# Redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove "www" from URLs
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Handle 404 errors
ErrorDocument 404 /404.html

# Deny access to sensitive files
<FilesMatch "\.(env|ini|log|sh|bak|sql)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Set default index file
DirectoryIndex index.html index.php